.form-control-padding
{
    padding-right: 30px;
}

.panel-header
{    
    background-color:#C9C6C4;
}

.panel-title
{
    font-weight: bold;
}

.panel-body
{
    margin-top:10px; 
    text-align:left;
}